apache-airflow==1.10.2
bumpversion==0.5.3
click==7.0
coverage==4.5.2
flake8==3.7.5
isort==4.3.4
jupytext==0.8.6
pip==19.0.1
pyhocon==0.3.50
pylint==2.2.2
pytest==4.2.0
pytest-runner==4.2
pytz==2018.9
tox==3.7.0
twine==1.12.1
wheel==0.32.3
