apache-airflow==1.10.3
bumpversion==0.5.3
click==7.0
coverage==4.5.3
flake8==3.7.7
isort==4.3.19
jupytext==1.1.1
pip==19.1.1
pyhocon==0.3.51
pylint==2.3.1
pytest==4.5.0
pytest-runner==4.4
pytz==2019.1
tox==3.10.0
twine==1.13.0
wheel==0.33.4
